<!-- <pre><code><%= @testdata %></pre></code> -->

<form action="/spotify/results" method="get">
  <input type="text" name="search_input" placeholder="type song here">
  <input type="submit" value="Submit!">
</form>
